<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Basic_Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52B3CBB01DC4F18800BDA76E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B3CBC91DC4F18900BDA76E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B3CBD41DC4F18900BDA76E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
